<div class="basket-container">
  <div class="items-container" *ngIf="items">
    <div class="items" *ngFor="let item of items">
      <img [src]="item.product.mainImage" alt="main image" />
      <div class="details">
        <div class="product-info">
          <h4 class="name">{{ item.product.name }}</h4>
          <p class="size">Size: {{ item.size }}</p>
          <div *ngIf="innerWidth <= 400" class="price">
            {{ item.product.price.amount | currency: "GBP":"symbol":"1.2-2" }}
          </div>
        </div>
        <div class="numbers">
          <div class="quantity">
            <button class="remove-item" (click)="remove(item)">-</button>
            <div class="total">{{ item.quantity }}</div>
            <button class="add-item" (click)="add(item)">+</button>
          </div>
          <div *ngIf="innerWidth > 400" class="price">
            {{ item.product.price.amount | currency: "GBP":"symbol":"1.2-2" }}
          </div>
        </div>
      </div>
    </div>
    <div class="total">
      Total:
      <span> {{ getTotal() | currency: "GBP":"symbol":"1.2-2" }} </span>
    </div>
    <div class="empty" *ngIf="!items">Your basket is empty</div>
  </div>
</div>
