.shop-card {
  position: relative;
  margin: 0px 30px 30px 30px;
  width: 250px;
  height: 280px;
  flex-grow: 1;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
  0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 0.375rem;
  cursor: pointer;
  transition: all .1s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  .product-image {
    display: flex;
    justify-content: center;
    img {
      width: 180px;
    }
  }


  .product-info {
    width: 90%;
    padding: 10px;
    position: absolute;
    bottom: 0;

    .product-name {
      overflow-wrap: break-word;
      margin-bottom: 5px;
    }
  }

}
