<div class="item-container" *ngIf="product">
  <img [src]="product.mainImage" alt="main image" />
  <div class="details">
    <div class="product-info">
      <h4 class="name">{{ product.name }}</h4>
      <p class="size">Size: {{ item.size }}</p>
    </div>
    <div class="numbers">
      <div class="quantity">
        <button class="remove-item" (click)="remove()">-</button>
        <div class="total">{{ item.quantity }}</div>
        <button class="add-item" (click)="add()">+</button>
      </div>
      <div class="price">
        {{ cost | currency: product.price.currency:"symbol":"1.2-2" }}
      </div>
    </div>
  </div>
</div>
