<div class="container" *ngIf="product">
  <div class="main">
    <div class="product-image">
      <img [src]="product.mainImage" alt="main product image" />
    </div>

    <div class="product-details">
      <div class="product-name">
        <h2>{{ product.name }}</h2>
      </div>
      <div class="product-stock" *ngIf="product.stockStatus === 'IN STOCK'">
        {{
          product.price.amount
            | currency: product.price.currency:"symbol":"1.2-2"
        }}
      </div>
      <div class="product-stock" *ngIf="product.stockStatus !== 'IN STOCK'">
        Out of stock
      </div>
      <p>{{ product.colour }}</p>
      <div class="size-container">
        <div class="sizes" *ngFor="let size of product.sizes">
          <button class="size-btn" (click)="itemSize = size">
            {{ size }}
          </button>
        </div>
      </div>
      <div class="buy">
        <button class="buy-btn" (click)="addToBasket(product)">
          {{ btnText }}
        </button>
      </div>
      <div class="error" *ngIf="noSize">Please choose your size</div>
    </div>
  </div>
  <div class="info">
    <div class="product-description">
      <p>
        {{ product.description }}
      </p>
    </div>
  </div>
  <div class="recent">
    <h3>Recently Viewed</h3>
    <div class="recent-items">
      <div *ngFor="let item of recentlyViewed">
        <app-product-card [product]="item"></app-product-card>
      </div>
    </div>
  </div>
</div>
