.container {
  margin: 10%;

  .main {
    display: flex;
    justify-content: center;

    .product-image {
      img {
        margin-right: 3rem;
        height: 20rem;
      }
    }

    .product-details {
      display: flex;
      flex-direction: column;
      margin: 1.5rem;


      .product-stock {
        margin-top: 0.75rem;
      }

      .size-container {
        display: flex;
        margin-top: 1rem;
        .sizes {
          .size-btn {
            min-width: 45px;
            min-height: 45px;
            background-color: white;
            color: #1d2325;
            border: 1px solid #e5e5e5;
            padding: 5px;
            cursor: pointer;
            margin: 0 10px;
          }

          button:focus {
            border: 2px solid #1d2325;
          }
        }
      }

      .buy {
        margin-top: 2rem;

        .buy-btn {
          width: 150px;
          padding: 10px 20px;
          border-radius: 20px;
          font-size: 16px;
          font-weight: bold;
          background-color: #1d2325;
          color: white;
          cursor: pointer;
        }

        .buy-btn:hover {
          background-color: #46b2e7;
          color: #1d2325;
          border-color: #46b2e7;
        }
      }

      .error {
        font-size: 10px;
        margin-top: 0.5rem;
        color: red;
      }

    }

    @media screen and (max-width: 767px) {
      flex-direction: column;

      .product-image {
        margin: auto;
        img {
          margin: 0;
        }
      }

      .product-details {
        margin: 0;
      }
    }
  }

  .info {
    p {
      margin-top: 0.5rem;
      font-size: 12px;
    }

    @media screen and (max-width: 767px) {
      p {
        margin-top: 1rem;
      }
    }
  }

}
