
nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1d2325;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo {
    margin-left: 25px;
    a {
      cursor: pointer;
      img {
        height: 45px;
      }
    }
  }

  .nav-links-container {
    width: 50%;
    margin: auto;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    li {
      color: white;
      list-style-type: none;
      font-weight: bold;
      cursor: pointer;

      .shop-link, .home-link {
        text-decoration: none;
        color: inherit;
      }
    }

    li:hover {
      color: #46b2e7;
    }
  }

  .cart {
    position: relative;
    margin-top: 5px;
    margin-right: 25px;

    svg:hover {
      cursor: pointer;
    }

    .num-items {
      position: absolute;
      color: white;
      top: 14px;
      text-align: center;
      font-size: 12px;
      height: 100%;
      width:100%;
      cursor: pointer;
    }

  }
}
