<nav>
  <div class="logo">
    <img href="running.png" alt="running shoe logo" />
  </div>
  <div class="nav-links-container">
    <ul>
      <li class="nav-link">
        <a href="/" class="shop-link">Shop</a>
      </li>
    </ul>
  </div>
  <div class="cart">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="34"
      height="34"
      viewBox="0 0 24 24"
      fill="#ffffff"
      (click)="goToBasket()"
    >
      <path
        d="M16 6v-2c0-2.209-1.791-4-4-4s-4 1.791-4 4v2h-5v18h18v-18h-5zm-7-2c0-1.654 1.346-3 3-3s3 1.346 3 3v2h-6v-2zm10 18h-14v-14h3v1.5c0 .276.224.5.5.5s.5-.224.5-.5v-1.5h6v1.5c0 .276.224.5.5.5s.5-.224.5-.5v-1.5h3v14z"
      />
    </svg>
    <div class="num-items" (click)="goToBasket()">
      {{ totalItems ? totalItems : "" }}
    </div>
  </div>
</nav>
