
nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1d2325;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo {
    margin-left: 20px;

    img {
      height: 45px;
    }
  }

  .nav-links-container {
    width: 40%;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    li {
      color: white;
      list-style-type: none;
      font-weight: bold;
    }
  }

  .cart {
    display: inline;
    vertical-align: middle;
    margin-right: 30px;
    img {
      height: 35px;
    }

  }
}
